mark.hb-order-status{
    display: inline-flex;
    line-height: 2.5em;
    color: #777;
    background: #e5e5e5;
    border-radius: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    margin: -.25em 0;
    cursor: inherit !important;
    white-space: nowrap;
    max-width: 100%;
    padding: 0 10px;

}
.alertinfo{
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;

    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;

}
#hbmessage{
    color: black;
    width: 50%;
    height: 300px;
}

#hbreply{
    width: 50%;
    color: #2b2b2b;
}

#HBconnection{
    color: black;
    width: 50%;
    height: 50px;
}
#HB-product table {
    border-collapse: collapse;
    width: 50%;

}

#HB-product td, #HB-product th {
    border: 1px solid #bbb;
    text-align: center;
    padding: 8px;

}

#HB-product tr:nth-child(even) {
    background-color: #dddddd;
}

.HBPRC input[type='checkbox']{
    margin-left: 8px;
}

#actions{
    width: 12%;
}

mark.HBCompleted{
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
mark.HBComReplied {
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;

}


a.hb-btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

a.hb-btn-primary{
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
span.hb-relative{
    position: relative;
}
a.hb-has-reply:after{
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    display: block;
    background: #f00;
    border-radius: 12px;

    top:-11px;
    right: -5px;
}